html {
  box-sizing: border-box;
  font-family: Georgia, serif;
  font-weight: normal;
  line-height: 1.3;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1.3rem;
}

article {
  font-family: "Crimson Text";
  color: #222;
  padding-bottom: 1rem;
}

article p {
  font-family: "Crimson Text";
  color: #222;
  font-size: 1em;
  margin-top: 1.3rem;
}

article header {
  font-family: "Crimson Text";
  color: #222;
}

article h1 {
  font-weight: normal;
  padding-bottom: 0;
  margin-bottom: -1.3rem;
}

article header p {
  font-style: italic;
  padding-bottom: 1.3rem;
  border-bottom-style: solid;
  border-width: thin;
  border-color: #999;
}

.quote {
  font-size: 1.125rem;
  color: #999;
}

blockquote {
  font-size: 1.125rem;
}

blockquote p {
  color: #555;
}

article ol {
  list-style-position: inside;
  margin: 0;
  padding: 0;
  margin-top: 1.3rem;
}

article p:nth-of-type(5) {
  padding-bottom: 1.3rem;
  border-bottom-style: solid;
  border-width: thin;
  border-color: #999;
}
fix
